.room{
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}
.room-header{
    height: 8vh;
    width: 100%;
    max-width: 450px;
    background-color: #2e2e2e;
    color: white;
    padding: 0 0.5rem;
    
    display: flex;
    justify-content: space-between;
}
.room-message-display{
    height: 82vh;
    width: 100%;
    background-color: #272727;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: blueviolet #272727;
}
.room-message-display::-webkit-scrollbar{
    width: 8px;
}
.room-message-display::-webkit-scrollbar-thumb{
    background-color: blueviolet;
    border-radius: 10px;
}
.room-message-input-form{
    height: 10vh;
    width: 100%;
    background-color: #2e2e2e;

    display: flex;
    align-items: center;
}
.room-message-input-form > input{
    height: 80%;
    width: 80%;
    padding: 1rem 0.5rem;
    border-radius: 30px 0 0 30px;
    background-color: #3a3a3a;
}

.sendBtn{
    height: 80%;
    width: 20%;
    border-radius: 0 30px 30px 0;
}
.sendBtn:disabled{
    filter: blur(0.8px);
    color: white;
    cursor: not-allowed;
    transition: 0.5s all;
}
.emptyMessage{
    animation: warning 1s ease;
}

@keyframes warning {
    from{
        border: 2px solid red;
    }
    to{
        border: none;
    }
}