.message-text{
    max-width: 80%;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(123, 134, 148);
    color: white;
    font-size: 1.2rem;
    line-height: 30px;
    border-radius: 30px;
}
.message{
    margin: 0 0 1rem 0.5rem;
    display: flex;
}
.user-photo{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 3px solid blue;
}